.checked{
    color: rgb(255, 208, 0);
}

.card-title{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-title:hover {
    overflow: visible;
  }

.product-details{
    height: 3.6rem;
    line-height: 1.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}